body {
  font-family: 'Open Sans', sans-serif;
  color: #c8c8c8;
}

.whole-page {
  background-color: rgb(54, 54, 54);
}

.top-most {
  margin-top: 2%;
  margin-left: 2.5%;
}

.top-most a, i {
  text-decoration: none;
  color: #6c757d;
}

.top-most i {
  font-size: 1em;
}

.logo-top {
  background-color: rgb(255, 255, 255);

}

.nortsea-black {
  background-color: rgb(54, 54, 54);
}

.log-in-box, .dropdown-toggle {
  border-radius: 0;
}

.language-box {
  padding-left: 2em;
  padding-right: 2em;
}

.social-link-bar {
  border: 1px solid #6c757d;
  padding: .30rem 0 .30rem 0;
  font-size: 1.25em;
}

.social-link-bar a {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
}

.icon-search {
  color: #919191;
  font-size: 20px;
}

.flex-auto {
  flex-grow: 1;
}


.page-top, .page-bottom {
  background-color: rgb(49, 49, 49);
}

.content-background-one {
  background-image: url("../img/background-texture.png");
}

.content-background-one >.container {
  margin-top: 2%;
  margin-bottom: 2%;
}

.page-bottom {
 color: #acacac;
}

.page-bottom >.container {
  margin-top: 2%;
  margin-bottom: 2%;
}

.contact-column-one {
  margin-right: -19%;
}

.contact-column-two {
  margin-left: -10%;
}

.sub-footer {
  background-color: #3f3f3f;
  color: #6c757d;
}

.copyright {
  float: left;
}

.designer {
  float: right;
}

.row.page-bottom {
  background-color: rgb(49, 49, 49);
}

.demo-icon {
  background-color: #8d5ba1;
  color: #ffffff;
}

.side-by-side i {
  float: left;
  margin-right: 5%;
}

.side-by-side p {
  color: #6c757d;
}

.gold {
  color: #c0a878;
}

.top-nav-bar {
  padding-left: 1.5%;
}

.widgets {
  margin-top: 5%;
}
.weather-widget {
  background: linear-gradient(90deg, #ebd888, #ebc966);
  color: white;
  margin-top: 2%;
  width: 6em;
}

/* Causing issues with alignment on all other ps
 {

}.weather-widget h6, h5, i, p {
  text-align: left;
  margin-left: 10%;
} */

.weather-widget i {
  font-size: 3em;
  color: white;
}

.gallery {
  background: linear-gradient(90deg, #7f7f7f, #3e3e3e);
  color: white;
  margin-top: 2%;
  width: 6em;
  height: 5em;
}

.gallery i {
  color: white;
  content-align: center;
}

/* Causing issues with all other ps
.gallery h6, p {
  text-align: left;
  margin-left: 10%;
} */

.tour {
  background-color: #ebebeb;
  color: #8d8d8d;
  margin-top: 2%;
  width: 6em;
  height: 5em;
}

.tour h6 {
  font-size: .75em;
}

.tour i {
  color: #8d8d8d;
  font-size: 3em;
}

.facilities > h1 {
  text-align: center;
}

.facilities {
  margin-left: 25%;
  margin-right: 25%;
}

.breadcrumb-row {
  margin-top: 4%;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 4%;
}

.breadcrumb-left-col {
  text-align: left;
}

.breadcrumb-ol {
  float: right;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #6c757d;
}
.breadcrumb {
  background-color: transparent;
}

.mid-section {
  background-color: #313131;
}

.icon-picture-row {
  margin-top: 1%;
  margin-bottom: 10%;
}

.icon-picture i {
  align-content: space-around;
}

.italic-bolder {
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}

.italic-normal {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.background-match {
  background-color: transparent;
  border-color: transparent;
  color: #bdbdbd;
}

.sub-footer >.container {
  margin-top: .75%;
  margin-bottom: .25%;
}

.page-top >.container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.travel-bar > .col > img {
  margin-bottom: 10%;
}

.travel-bar > .col > h5 {
  color: black;
}

.travel-bar > .col > h5.gold {
  color: #c0a878;
}

body > div > section.row.content-background-one > div > div.row.travel-bar > div:nth-child(2) > div > button {
  color: #c0a878;
}

.travel-bar > .col > p > {
  color: rgb(149, 149, 149);
  margin: 0;
}


.central-info > h1 {
  text-align: center;
}

.central-info {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.about-hotel-p {
  margin-top: 3%;
  margin-bottom: 3%;
}

.amenity-columns > h6 {
  color: #464646;
}

.amenity-columns {
  border: 1em solid black;
  text-align: center;
  margin: 1% 1% 1% 1%;
  height: 15rem;
}

.amenity-columns > h6 {
  margin-top: 2%;
}

.hotel-bar {
  background-color: #fafafa;
}

.read-more {

}
@media (max-width: 575px) {
  .travel-bar-columns {
    /* width: 50em; */
  }
}

@media (max-width: 575px) {
  .top-most {
    visibility: hidden;
  }
}
/* .news, .announcements, .products {
  border: 1px solid gray;
} */
