body {
  font-family: 'Open Sans', sans-serif;
}

.whole-page {
  background-color: rgb(54, 54, 54);
}

.top-most {
  margin-top: 2%;
  margin-left: 2.5%;
}

.top-most a, i {
  text-decoration: none;
  color: #6c757d;
}

.top-most i {
  font-size: 1em;
}

.logo-top {
  background-color: rgb(255, 255, 255);
}

.nortsea-black {
  background-color: rgb(54, 54, 54);
}

.log-in-box, .dropdown-toggle {
  border-radius: 0px;
}

.language-box {
  padding-left: 2em;
  padding-right: 2em;
}

.social-link-bar {
  border: 1px solid #6c757d;
  padding: .30rem 0 .30rem 0;
  font-size: 1.25em;
}

.social-link-bar a {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
}

.icon-search {
  color: #919191;
  font-size: 20px;
}

.flex-auto {
  flex-grow: 1;
}

.travel-bar {
  margin: 5%;
}

.page-top, .page-bottom {
  background-color: rgb(49, 49, 49);
}

.content-background-one {
  background-image: url("../img/background-pattern.svg");
}

.page-bottom {
 color: #acacac;
}

.page-bottom >.container {
  margin-top: 2%;
  margin-bottom: 2%;
}

.contact-column-one {
  margin-right: -25%;
}

.contact-column-two {
  margin-left: -10%;
}

.sub-footer {
  background-color: #3f3f3f;
  color: #6c757d;
}

.copyright {
  float: left;
}

.designer {
  float: right;
}

.row.page-bottom {
  background-color: rgb(49, 49, 49);
}

.demo-icon {
  background-color: #8d5ba1;
  color: #ffffff;
}

.side-by-side i {
  float: left;
  margin-right: 5%;
}

.side-by-side p {
  color: #6c757d;
}

.gold {
  color: #c0a878;
}

.top-nav-bar {
  padding-left: 1.5%;
}

.widgets {
  margin-top: 5%;
}
.weather-widget {
  background: linear-gradient(90deg, #ebd888, #ebc966);
  color: white;
  margin-top: 2%;
  width: 6em;
}

.weather-widget h6, h5, i, p {
  text-align: left;
  margin-left: 10%;
}

.weather-widget i {
  font-size: 3em;
  color: white;
}

.gallery {
  background: linear-gradient(90deg, #7f7f7f, #3e3e3e);
  color: white;
  margin-top: 2%;
  width: 6em;
  height: 5em;
}

.gallery i {
  color: white;
  content-align: center;
}

.gallery h6, p {
  text-align: left;
  margin-left: 10%;
}

.tour {
  background-color: #ebebeb;
  color: #8d8d8d;
  margin-top: 2%;
  width: 6em;
  height: 5em;
}

.tour h6 {
  font-size: .75em;
}

.tour i {
  color: #8d8d8d;
  font-size: 3em;
}

.facilities > h1 {
  text-align: center;
}

.facilities {
  margin-left: 25%;
  margin-right: 25%;
}

.breadcrumb-row {
  margin-top: 4%;
  margin-left: 9%;
  margin-right: 9%;
}

.breadcrumb-left-col {
  text-align: left;
}

.breadcrumb-ol {
  float: right;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #6c757d;
}
.breadcrumb {
  background-color: transparent;
}

.mid-section {
  background-color: #313131;
}
